name: Scrape Tech News # Automated Scraper

on:
  push:
    paths:
      - 'scraper.py'
      - '.github/workflows/scrape.yml'
  schedule:
    - cron: '*/15 * * * *' # Every 15 minutes
  workflow_dispatch:

permissions:
  contents: write

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Checkout branch
        run: git checkout ${{ github.ref_name }}


      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Configure Git
        run: |
          git config --global user.name 'pawara-mmns'
          git config --global user.email 'pawarasamarawickrama@gmail.com'

      - name: Run scraper
        run: python scraper.py
